{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style-likes.css') }}">
{% endblock %}

{% block body %}
    <div id="content" class="container-fluid vh-100 d-flex flex-column">
        <ul id="sideNav" class="side-nav">
            <li><a href="{{ path('app_tinder') }}">Tinder</a></li>
            <li><a href="{{ path('app_profile') }}">Profile</a></li>
            <li><a href="{{ path('app_match') }}">Match</a></li>
            <li><a href="{{ path('app_likes') }}" class="activo">Likes</a></li>
            <li><a href="{{ path('app_users') }}">Messages</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>

        <div class="main-layout flex-grow-1 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center mb-4">Users that liked your profile</h2>
            {% if likes is not empty %}
                <div class="row justify-content-center">
                    {% for like in likes %}
                        <div class="col-6 col-md-3 text-center mb-4">
                            <img src="{{ asset('images/' ~ like.userA.imagePath) }}"
                                 alt="profile image"
                                 id="imagen-reducida"
                                 class="rounded-circle border border-danger mb-2"
                                 onclick="openImage('{{ asset('images/' ~ like.userA.imagePath) }}')">
                            <h5>{{ like.userA.name }}</h5>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">You don't have any like</p>
            {% endif %}
        </div>
    </div>

    <div id="imageOverlay" class="overlay" onclick="closeImage()">
        <img id="enlargedImage" src="" alt="Enlarged Profile Image">
    </div>

    {% block javascripts %}
        <script>
            function openImage(imageSrc) {
                var overlay = document.getElementById('imageOverlay');
                var enlargedImage = document.getElementById('enlargedImage');

                enlargedImage.src = imageSrc;

                overlay.classList.add('active');
            }

            function closeImage() {
                var overlay = document.getElementById('imageOverlay');

                overlay.classList.remove('active');
            }
        </script>
    {% endblock %}
{% endblock %}